{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
    {% if error %}
        <div class="loginError-container">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    
    {% if app.user %}
        <div class="loginError-container">
            Vous être déjà connecté(e) comme  {{ app.user.userIdentifier }}, 
            <a href="{{ path('app_logout') }}">Me déconnecter</a>
        </div>
    {% endif %}
    <div class="login-container">
        <form class="login-form" method="post">
            <div class="login-name">
                <h1>Connexion</h1>
            </div>
            <label class="login-label" for="inputEmail">Email</label>
            <input class="login-input" id="username" type="email" value="{{ last_username }}" name="email" autocomplete="email" required autofocus>
            <label class="login-label" for="inputPassword">Mot de passe</label>
            <input class="login-input" id="username" type="password" name="password" autocomplete="current-password" required>
        
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
        
            <button class="login-btn" type="submit">Se Connecter</button>
        </form>
    <div class="login-bottom">
        <p>Vous n'avez pas de compte ? <a id="login_a-customise" class="a-default" href="{{path('app_register')}}">Inscrivez-vous</a>.</p>
    </div>
</div>
{% endblock %}
