<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="" href="">
        <link rel="stylesheet" href="{{asset('css/style_home.css')}}">
        <link rel="stylesheet" href="{{asset('css/style_createCompte.css')}}">
        <link rel="stylesheet" href="{{asset('css/style_event.css')}}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {# {% block importmap %}{{ importmap('app') }}{% endblock %} #}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include "home/partials_home/_header.html.twig" %}
        {% endblock %}
        {% block body %}{% endblock %}
        <footer>
            {% block footer %}
                {% include "home/partials_home/_footer.html.twig" %}
            {% endblock %}
        </footer>
        <script src="{{asset('js/script_home.js')}}"></script>
        <script src="{{asset('js/script_event.js')}}"></script>
    </body>
</html>
